@define-color base00 #{{ .Modules.base16.base00 }};
@define-color base01 #{{ .Modules.base16.base01 }};
@define-color base02 #{{ .Modules.base16.base02 }};
@define-color base03 #{{ .Modules.base16.base03 }};
@define-color base04 #{{ .Modules.base16.base04 }};
@define-color base05 #{{ .Modules.base16.base05 }};
@define-color base06 #{{ .Modules.base16.base06 }};
@define-color base07 #{{ .Modules.base16.base07 }};
@define-color base08 #{{ .Modules.base16.base08 }};
@define-color base09 #{{ .Modules.base16.base09 }};
@define-color base0A #{{ .Modules.base16.base0A }};
@define-color base0B #{{ .Modules.base16.base0B }};
@define-color base0C #{{ .Modules.base16.base0C }};
@define-color base0D #{{ .Modules.base16.base0D }};
@define-color base0E #{{ .Modules.base16.base0E }};
@define-color base0F #{{ .Modules.base16.base0F }};
