@define-color base00 #%base00%;
@define-color base01 #%base01%;
@define-color base02 #%base02%;
@define-color base03 #%base03%;
@define-color base04 #%base04%;
@define-color base05 #%base05%;
@define-color base06 #%base06%;
@define-color base07 #%base07%;
@define-color base08 #%base08%;
@define-color base09 #%base09%;
@define-color base0A #%base0A%;
@define-color base0B #%base0B%;
@define-color base0C #%base0C%;
@define-color base0D #%base0D%;
@define-color base0E #%base0E%;
@define-color base0F #%base0F%;

window {
    font-family: 'Fira Code', sans-serif;
    font-size: 1em;
    font-weight: 400;
    transition: none;
    box-shadow: none;
    background-color: @base00;
    color: @base04;
    min-height: 0;
}
#tray, #mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature, #window {
    background-color: @base00;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

#pulseaudio.muted {
    color: @base0F;
}

#pulseaudio.bluetooth {
    color: @base0C;
}
#temperature.critical {
    color: @base0F;
}


#workspaces button {
  padding: 0;
  margin: 0;
  
}

#workspaces button.focused, button.active {
    font-weight: bolder;
    color: @base00;
    background-color: @base04;
}

#workspaces button.urgent {
    background-color: @base08;
}

