@define-color base00 #{{ .Palette.Base00 }};
@define-color base01 #{{ .Palette.Base01 }};
@define-color base02 #{{ .Palette.Base02 }};
@define-color base03 #{{ .Palette.Base03 }};
@define-color base04 #{{ .Palette.Base04 }};
@define-color base05 #{{ .Palette.Base05 }};
@define-color base06 #{{ .Palette.Base06 }};
@define-color base07 #{{ .Palette.Base07 }};
@define-color base08 #{{ .Palette.Base08 }};
@define-color base09 #{{ .Palette.Base09 }};
@define-color base0A #{{ .Palette.Base0A }};
@define-color base0B #{{ .Palette.Base0B }};
@define-color base0C #{{ .Palette.Base0C }};
@define-color base0D #{{ .Palette.Base0D }};
@define-color base0E #{{ .Palette.Base0E }};
@define-color base0F #{{ .Palette.Base0F }};

* {
    font-family: sans-serif, emoji;
    font-size: 13px;
    min-height: 26px;
}

window {
    transition: none;
    box-shadow: none;
    background-color: @base00;
    color: @base04;
    min-height: 32px;
}
#tray, #mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature, #window {
    background-color: @base00;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

#pulseaudio.muted {
    color: @base0F;
}

#pulseaudio.bluetooth {
    color: @base0C;
}
#temperature.critical {
    color: @base0F;
}


#workspaces button {
  padding: 0;
  margin: 0;

}

#workspaces button.focused, button.active {
    font-weight: bolder;
    color: @base00;
    background-color: @base04;
}

#workspaces button.urgent {
    background-color: @base08;
}
