@define-color base00 #{{ (index (index .Modules "base16") "base00") }};
@define-color base01 #{{ (index (index .Modules "base16") "base01") }};
@define-color base02 #{{ (index (index .Modules "base16") "base02") }};
@define-color base03 #{{ (index (index .Modules "base16") "base03") }};
@define-color base04 #{{ (index (index .Modules "base16") "base04") }};
@define-color base05 #{{ (index (index .Modules "base16") "base05") }};
@define-color base06 #{{ (index (index .Modules "base16") "base06") }};
@define-color base07 #{{ (index (index .Modules "base16") "base07") }};
@define-color base08 #{{ (index (index .Modules "base16") "base08") }};
@define-color base09 #{{ (index (index .Modules "base16") "base09") }};
@define-color base0A #{{ (index (index .Modules "base16") "base0A") }};
@define-color base0B #{{ (index (index .Modules "base16") "base0B") }};
@define-color base0C #{{ (index (index .Modules "base16") "base0C") }};
@define-color base0D #{{ (index (index .Modules "base16") "base0D") }};
@define-color base0E #{{ (index (index .Modules "base16") "base0E") }};
@define-color base0F #{{ (index (index .Modules "base16") "base0F") }};

* {
    font-family: "{{ .Modules.fontconfig.sans_serif }}", "{{ .Modules.fontconfig.emoji }}";
    font-weight: 300;
    font-size: 13px;
    min-height: 26px;
}

window {
    transition: none;
    box-shadow: none;
    background-color: @base00;
    color: @base04;
    min-height: 32px;
}
#tray, #mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature, #window {
    background-color: @base00;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

#pulseaudio.muted {
    color: @base0F;
}

#pulseaudio.bluetooth {
    color: @base0C;
}
#temperature.critical {
    color: @base0F;
}


#workspaces button {
  padding: 0;
  margin: 0;
  color: @base04;
}

#workspaces button.focused, button.active {
    font-weight: bolder;
    color: @base00;
    background-color: @base04;
}

#workspaces button.urgent {
    background-color: @base08;
}
