@define-color base00 #{{ .Modules.base16.base00 }};
@define-color base01 #{{ .Modules.base16.base01 }};
@define-color base02 #{{ .Modules.base16.base02 }};
@define-color base03 #{{ .Modules.base16.base03 }};
@define-color base04 #{{ .Modules.base16.base04 }};
@define-color base05 #{{ .Modules.base16.base05 }};
@define-color base06 #{{ .Modules.base16.base06 }};
@define-color base07 #{{ .Modules.base16.base07 }};
@define-color base08 #{{ .Modules.base16.base08 }};
@define-color base09 #{{ .Modules.base16.base09 }};
@define-color base0A #{{ .Modules.base16.base0A }};
@define-color base0B #{{ .Modules.base16.base0B }};
@define-color base0C #{{ .Modules.base16.base0C }};
@define-color base0D #{{ .Modules.base16.base0D }};
@define-color base0E #{{ .Modules.base16.base0E }};
@define-color base0F #{{ .Modules.base16.base0F }};

* {
    font-family: "{{ .Modules.fontconfig.sans_serif }}", "{{ .Modules.fontconfig.emoji }}";
    font-weight: 300;
    font-size: 13px;
    min-height: 26px;
    background-color: @base00;
    color: @base05;
}


window {
    transition: none;
    box-shadow: none;
    min-height: 32px;
}

#tray, #mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature {
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

#pulseaudio.muted {
    color: @base0F;
}

#pulseaudio.bluetooth {
    color: @base0C;
}
#temperature.critical {
    color: @base0F;
}


#workspaces button {
  padding: 0 8px;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button label {
    background: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#workspaces button:hover {
    background: @base02;
    color: @base05;
}

#workspaces button.visible {
    background: @base02;
    color: @base00;
}

#workspaces button.focused,
#workspaces button.active {
    font-weight: bolder;
    color: @base00;
    background: @base04;
}

#workspaces button.urgent {
    background: @base08;
    color: @base00;
}

window#waybar {
    background-color: #ff0000; /* Example: a dark gray hex color */
}
