{
  "$schema": "vscode://schemas/color-theme",
  "name": "Base16",
  "type": "dark",
  "colors": {
    "activityBar.activeBackground": "#{{ .Palette.Base02 }}",
    "activityBar.activeBorder": "#{{ .Palette.Base05 }}",
    "activityBar.background": "#{{ .Palette.Base01 }}",
    "activityBar.foreground": "#{{ .Palette.Base05 }}",
    "activityBar.inactiveForeground": "#{{ .Palette.Base03 }}",
    "activityBarBadge.background": "#{{ .Palette.Base0D }}",
    "activityBarBadge.foreground": "#{{ .Palette.Base00 }}",
    "badge.background": "#{{ .Palette.Base00 }}",
    "badge.foreground": "#{{ .Palette.Base05 }}",
    "breadcrumb.background": "#{{ .Palette.Base01 }}",
    "breadcrumb.foreground": "#{{ .Palette.Base05 }}",
    "button.background": "#{{ .Palette.Base0D }}",
    "button.foreground": "#{{ .Palette.Base00 }}",
    "button.hoverBackground": "#{{ .Palette.Base0D }}C0",
    "debugConsole.errorForeground": "#{{ .Palette.Base08 }}",
    "debugConsole.warningForeground": "#{{ .Palette.Base0A }}",
    "debugToolBar.background": "#{{ .Palette.Base01 }}",
    "diffEditor.insertedTextBackground": "#{{ .Palette.Base0B }}4c",
    "diffEditor.removedTextBackground": "#{{ .Palette.Base08 }}4c",
    "dropdown.background": "#{{ .Palette.Base00 }}",
    "dropdown.foreground": "#{{ .Palette.Base05 }}",
    "editor.background": "#{{ .Palette.Base00 }}",
    "editor.findMatchBackground": "#{{ .Palette.Base0A }}18",
    "editor.findMatchBorder": "#{{ .Palette.Base0A }}",
    "editor.findMatchHighlightBackground": "#{{ .Palette.Base0A }}66",
    "editor.foreground": "#{{ .Palette.Base05 }}",
    "editor.lineHighlightBackground": "#{{ .Palette.Base01 }}",
    "editor.selectionBackground": "#{{ .Palette.Base02 }}",
    "editor.selectionHighlightBackground": "#{{ .Palette.Base01 }}",
    "editor.wordHighlightBackground": "#{{ .Palette.Base02 }}",
    "editor.wordHighlightStrongBackground": "#{{ .Palette.Base03 }}",
    "editorBracketHighlight.foreground1": "#{{ .Palette.Base08 }}",
    "editorBracketHighlight.foreground2": "#{{ .Palette.Base09 }}",
    "editorBracketHighlight.foreground3": "#{{ .Palette.Base0A }}",
    "editorBracketHighlight.foreground4": "#{{ .Palette.Base0B }}",
    "editorBracketHighlight.foreground5": "#{{ .Palette.Base0D }}",
    "editorBracketHighlight.foreground6": "#{{ .Palette.Base0E }}",
    "editorBracketMatch.background": "#{{ .Palette.Base02 }}",
    "editorCursor.foreground": "#{{ .Palette.Base05 }}",
    "editorError.foreground": "#{{ .Palette.Base08 }}",
    "editorGroup.border": "#{{ .Palette.Base02 }}",
    "editorGroupHeader.tabsBackground": "#{{ .Palette.Base01 }}",
    "editorGutter.addedBackground": "#{{ .Palette.Base0B }}",
    "editorGutter.deletedBackground": "#{{ .Palette.Base08 }}",
    "editorGutter.modifiedBackground": "#{{ .Palette.Base0E }}",
    "editorHoverWidget.background": "#{{ .Palette.Base01 }}",
    "editorHoverWidget.border": "#{{ .Palette.Base02 }}",
    "editorIndentGuide.activeBackground": "#{{ .Palette.Base04 }}",
    "editorIndentGuide.background": "#{{ .Palette.Base02 }}",
    "editorInfo.foreground": "#{{ .Palette.Base0C }}",
    "editorLineNumber.activeForeground": "#{{ .Palette.Base04 }}",
    "editorLineNumber.foreground": "#{{ .Palette.Base03 }}",
    "editorLink.activeForeground": "#{{ .Palette.Base0D }}",
    "editorWarning.foreground": "#{{ .Palette.Base0A }}",
    "editorWhitespace.foreground": "#{{ .Palette.Base03 }}",
    "editorWidget.background": "#{{ .Palette.Base01 }}",
    "editorWidget.border": "#{{ .Palette.Base02 }}",
    "focusBorder": "#{{ .Palette.Base0D }}",
    "foreground": "#{{ .Palette.Base05 }}",
    "gitDecoration.addedResourceForeground": "#{{ .Palette.Base0B }}",
    "gitDecoration.conflictingResourceForeground": "#{{ .Palette.Base0A }}",
    "gitDecoration.deletedResourceForeground": "#{{ .Palette.Base08 }}",
    "gitDecoration.ignoredResourceForeground": "#{{ .Palette.Base03 }}",
    "gitDecoration.modifiedResourceForeground": "#{{ .Palette.Base0E }}",
    "gitDecoration.untrackedResourceForeground": "#{{ .Palette.Base09 }}",
    "input.background": "#{{ .Palette.Base00 }}",
    "input.foreground": "#{{ .Palette.Base05 }}",
    "input.placeholderForeground": "#{{ .Palette.Base03 }}",
    "inputValidation.errorBackground": "#{{ .Palette.Base08 }}",
    "inputValidation.errorBorder": "#{{ .Palette.Base08 }}",
    "inputValidation.infoBackground": "#{{ .Palette.Base0D }}",
    "inputValidation.infoBorder": "#{{ .Palette.Base0D }}",
    "inputValidation.warningBackground": "#{{ .Palette.Base0A }}",
    "inputValidation.warningBorder": "#{{ .Palette.Base0A }}",
    "list.activeSelectionBackground": "#{{ .Palette.Base02 }}",
    "list.activeSelectionForeground": "#{{ .Palette.Base05 }}",
    "list.errorForeground": "#{{ .Palette.Base08 }}",
    "list.focusBackground": "#{{ .Palette.Base02 }}",
    "list.highlightForeground": "#{{ .Palette.Base07 }}",
    "list.hoverBackground": "#{{ .Palette.Base02 }}",
    "list.inactiveSelectionBackground": "#{{ .Palette.Base02 }}",
    "list.warningForeground": "#{{ .Palette.Base0A }}",
    "menu.background": "#{{ .Palette.Base01 }}",
    "menu.foreground": "#{{ .Palette.Base05 }}",
    "menu.selectionBackground": "#{{ .Palette.Base02 }}",
    "minimap.errorHighlight": "#{{ .Palette.Base08 }}",
    "minimap.findMatchHighlight": "#{{ .Palette.Base0A }}",
    "minimap.warningHighlight": "#{{ .Palette.Base0A }}",
    "panel.background": "#{{ .Palette.Base01 }}",
    "panel.border": "#{{ .Palette.Base02 }}",
    "panelTitle.activeBorder": "#{{ .Palette.Base0E }}",
    "panelTitle.activeForeground": "#{{ .Palette.Base05 }}",
    "panelTitle.inactiveForeground": "#{{ .Palette.Base03 }}",
    "peekViewEditor.background": "#{{ .Palette.Base01 }}",
    "peekViewResult.background": "#{{ .Palette.Base00 }}",
    "peekViewTitle.background": "#{{ .Palette.Base02 }}",
    "progressBar.background": "#{{ .Palette.Base03 }}",
    "scrollbarSlider.activeBackground": "#{{ .Palette.Base04 }}77",
    "scrollbarSlider.background": "#{{ .Palette.Base03 }}33",
    "scrollbarSlider.hoverBackground": "#{{ .Palette.Base03 }}77",
    "sideBar.background": "#{{ .Palette.Base01 }}",
    "sideBar.foreground": "#{{ .Palette.Base05 }}",
    "sideBarSectionHeader.background": "#{{ .Palette.Base01 }}",
    "sideBarTitle.foreground": "#{{ .Palette.Base05 }}",
    "statusBar.background": "#{{ .Palette.Base01 }}",
    "statusBar.debuggingBackground": "#{{ .Palette.Base09 }}",
    "statusBar.debuggingForeground": "#{{ .Palette.Base00 }}",
    "statusBar.foreground": "#{{ .Palette.Base05 }}",
    "statusBar.noFolderBackground": "#{{ .Palette.Base01 }}",
    "statusBarItem.errorBackground": "#{{ .Palette.Base08 }}",
    "statusBarItem.errorForeground": "#{{ .Palette.Base00 }}",
    "statusBarItem.warningBackground": "#{{ .Palette.Base0A }}",
    "statusBarItem.warningForeground": "#{{ .Palette.Base00 }}",
    "tab.activeBackground": "#{{ .Palette.Base02 }}",
    "tab.activeBorderTop": "#{{ .Palette.Base0E }}",
    "tab.activeForeground": "#{{ .Palette.Base05 }}",
    "tab.border": "#00000000",
    "tab.inactiveBackground": "#{{ .Palette.Base01 }}",
    "tab.inactiveForeground": "#{{ .Palette.Base05 }}",
    "terminal.ansiBlack": "#{{ .Palette.Base00 }}",
    "terminal.ansiBlue": "#{{ .Palette.Base0D }}",
    "terminal.ansiBrightBlack": "#{{ .Palette.Base03 }}",
    "terminal.ansiBrightBlue": "#{{ .Palette.Base0D }}",
    "terminal.ansiBrightCyan": "#{{ .Palette.Base0C }}",
    "terminal.ansiBrightGreen": "#{{ .Palette.Base0B }}",
    "terminal.ansiBrightMagenta": "#{{ .Palette.Base0E }}",
    "terminal.ansiBrightRed": "#{{ .Palette.Base08 }}",
    "terminal.ansiBrightWhite": "#{{ .Palette.Base07 }}",
    "terminal.ansiBrightYellow": "#{{ .Palette.Base0A }}",
    "terminal.ansiCyan": "#{{ .Palette.Base0C }}",
    "terminal.ansiGreen": "#{{ .Palette.Base0B }}",
    "terminal.ansiMagenta": "#{{ .Palette.Base0E }}",
    "terminal.ansiRed": "#{{ .Palette.Base08 }}",
    "terminal.ansiWhite": "#{{ .Palette.Base05 }}",
    "terminal.ansiYellow": "#{{ .Palette.Base0A }}",
    "terminal.background": "#{{ .Palette.Base00 }}",
    "terminal.foreground": "#{{ .Palette.Base05 }}",
    "titleBar.activeBackground": "#{{ .Palette.Base01 }}",
    "titleBar.activeForeground": "#{{ .Palette.Base05 }}",
    "titleBar.inactiveBackground": "#{{ .Palette.Base01 }}",
    "titleBar.inactiveForeground": "#{{ .Palette.Base03 }}"
  },
  "tokenColors": [
    {
      "name": "Comment",
      "scope": ["comment", "punctuation.definition.comment"],
      "settings": {
        "fontStyle": "italic",
        "foreground": "#{{ .Palette.Base03 }}"
      }
    },
    {
      "name": "String",
      "scope": ["string"],
      "settings": {
        "foreground": "#{{ .Palette.Base0B }}"
      }
    },
    {
      "name": "Number",
      "scope": ["constant.numeric"],
      "settings": {
        "foreground": "#{{ .Palette.Base09 }}"
      }
    },
    {
      "name": "Keyword",
      "scope": ["keyword", "storage.modifier"],
      "settings": {
        "foreground": "#{{ .Palette.Base0E }}"
      }
    },
    {
      "name": "Type",
      "scope": ["storage.type", "support.type"],
      "settings": {
        "foreground": "#{{ .Palette.Base0A }}"
      }
    },
    {
      "name": "Function",
      "scope": ["entity.name.function", "support.function"],
      "settings": {
        "foreground": "#{{ .Palette.Base0D }}"
      }
    },
    {
      "name": "Class",
      "scope": ["entity.name.type", "entity.name.class", "support.class"],
      "settings": {
        "foreground": "#{{ .Palette.Base0A }}"
      }
    },
    {
      "name": "Variable",
      "scope": ["variable"],
      "settings": {
        "foreground": "#{{ .Palette.Base08 }}"
      }
    },
    {
      "name": "Constant",
      "scope": ["constant"],
      "settings": {
        "foreground": "#{{ .Palette.Base09 }}"
      }
    },
    {
      "name": "Tag",
      "scope": ["entity.name.tag"],
      "settings": {
        "foreground": "#{{ .Palette.Base08 }}"
      }
    },
    {
      "name": "Attribute",
      "scope": ["entity.other.attribute-name"],
      "settings": {
        "foreground": "#{{ .Palette.Base0A }}"
      }
    },
    {
      "name": "Invalid",
      "scope": ["invalid"],
      "settings": {
        "foreground": "#{{ .Palette.Base08 }}"
      }
    }
  ]
}
