{{- range $name, $tool := .LazyTools }}
{{- $pkg := $tool.Pkg }}{{ if not $pkg }}{{ $pkg = $name }}{{ end }}
{{- $spec := printf "%s@%s" $pkg $tool.Version }}
{{- $bins := $tool.Bins }}
{{- if eq (len $bins) 0 }}
  {{- $binName := $tool.Alias }}
  {{- if not $binName }}
    {{- $parts := split $name ":" }}
    {{- $binName = last $parts }}
    {{- $parts = split $binName "/" }}
    {{- $binName = last $parts }}
  {{- end }}
  {{- $bins = list $binName }}
{{- end }}
{{- range $bins }}
{{- file . "0755" }}
#!/usr/bin/env bash
set -euo pipefail

_mise="{{ home }}/.local/bin/mise"
_spec="{{ $spec }}"
_bin_name="{{ . }}"
_bin_path="$("$_mise" which "$_bin_name" --tool "$_spec" 2>/dev/null || true)"

if [ -z "$_bin_path" ]; then
  "$_mise" install "$_spec"
  _bin_path="$("$_mise" which "$_bin_name" --tool "$_spec")"
fi

exec "$_mise" exec "$_spec" -- "$_bin_path" "$@"
{{- endfile }}
{{- end }}
{{- end }}
