<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">
<fontconfig>
  <alias>
    <family>serif</family>
    <prefer>
      <family>{{ .Fonts.Serif }}</family>
    </prefer>
  </alias>
  <alias>
    <family>sans</family>
    <prefer>
      <family>{{ .Fonts.SansSerif }}</family>
    </prefer>
  </alias>
  <alias>
    <family>monospace</family>
    <prefer>
      <family>{{ .Fonts.Monospace }}</family>
    </prefer>
  </alias>
  <alias>
    <family>emoji</family>
    <prefer>
      <family>{{ .Fonts.Emoji }}</family>
    </prefer>
  </alias>
</fontconfig>
