name: autorelease

on:
  push:
    branches:
      - master
    paths:
      - '**.nix'
      - 'flake.lock'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  autorelease:
    runs-on: ubuntu-latest
    steps:
      - name: Setup build disk space
        uses: lucasew/action-i-only-care-about-nix@main

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup stuff
        run: |
          sudo mkdir -p /nix/build
          df -h

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-conf: |
            build-dir = /nix/build

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: lucasew-personal
          authToken: '${{ secrets.CACHIX_TOKEN }}'

      - name: Build release
        run: |
          nix build .#release --keep-going --accept-flake-config

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: failure()
        with:
          name: build-logs
          path: /nix/var/log/nix/drvs
          include-hidden-files: true
