name: autorelease

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  autorelease:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Setup build disk space
        uses: lucasew/action-i-only-care-about-nix@main

      - uses: actions/checkout@v4

      - name: Setup stuff
        run: |
          sudo mkdir -p /nix/build
          df -h

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-conf: |
            build-dir = /nix/build

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: cachix/cachix-action@v16
        with:
          name: lucasew-personal
          authToken: '${{ secrets.CACHIX_TOKEN }}'

      - name: Install mise
        uses: jdx/mise-action@v2

      - name: Install dependencies
        run: mise run install

      - name: Codegen
        run: mise run codegen

      - name: Check for changes
        id: git_status
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "changes=true" >> $GITHUB_OUTPUT
            echo "Changes detected"
          else
            echo "changes=false" >> $GITHUB_OUTPUT
            echo "No changes detected"
          fi

      - name: Create Pull Request
        if: steps.git_status.outputs.changes == 'true'
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "chore: update generated code"
          body: "This PR updates generated code (formatting, etc)."
          branch: "chore/codegen-${{ github.ref_name }}"
          delete-branch: true

      - name: CI
        run: mise run ci

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} --generate-notes

      - name: Build release (Nix)
        run: nix build .#release --keep-going --accept-flake-config

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: build-logs
          path: /nix/var/log/nix/drvs
          include-hidden-files: true
