# This is a basic workflow to help you get started with Actions

name: Send a bump PR and test eval
run-name: "nixcfg bump based on ${{ github.sha }}"

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 6' # saturday 2am

concurrency:
  group: prebuild
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: "nixcfg bump from commit ${{ github.sha }}"
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Setup kitchen
        uses: lucasew/action-i-only-care-about-nix@main
      - name: Get ingredients
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Prepare for the stove
        run: |
          sudo mkdir -p /nix/build
          df -h
      - name: Install the stove
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            build-dir = /nix/build
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: lucasew-personal
          authToken: '${{ secrets.CACHIX_TOKEN }}'
      - name: Bump
        run: nix flake update
      - name: Serve
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
        with:
          title: "The flake bump is ready"
          body: |
            I updated your flake.

            Apply when you want, or don't apply, I don't mind. I am not Microsoft
            Windows that forces you to do what you don't want to.
          branch: bump-and-cook
          commit-message: bump
          author: "A helpful machine <actions@github.com>"
          committer: "A helpful machine <actions@github.com>"
          delete-branch: true
          reviewers: |
            lucasew
