# This is a basic workflow to help you get started with Actions

name: Format code in the repo

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_dispatch:

concurrency:
  group: prebuild
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Format code in the repo
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Format nix
        run: nix fmt
      - name: Format bash
        run: nix run .#shfmt -- -w .
      - name: Format python
        run: nix run .#ruff -- format
      - name: Send PR
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          title: "Format repo code"
          body: |
            I ran the formatters and this is the result
          branch: fmt
          commit-message: fmt
          author: "A helpful machine <actions@github.com>"
          committer: "A helpful machine <actions@github.com>"
          delete-branch: true
          reviewers: |
            lucasew

