name: MiseCI Turbo

on:
  workflow_dispatch:
jobs:
  work:
    name: "Work"
    runs-on: ubuntu-latest

    steps:
    - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
    - name: "Run worker"
      env:
        MISE_CI_TOKEN: ${{ secrets.MISE_CI_TOKEN }}
        MISE_CI_CALLBACK: ${{ secrets.MISE_CI_CALLBACK }}
      run: |
        while true; do
          echo Starting run
          docker run --rm -e "MISE_CI_TOKEN=$MISE_CI_TOKEN" -e "MISE_CI_CALLBACK=$MISE_CI_CALLBACK" ghcr.io/lucasew/mise-ci:latest worker
          echo Exit code: $?
        done
